<div class="footbar">
    <div class="container">
        <div class="row justify-content-center text-center">
            <div class="col-6 col-sm-5 ">Copyright ©2024 All rights reserved. <span style="display: inline-block;">HMT Electrical & Electronics Service Pvt. Ltd.</span></div>  
            <div class="col-0 col-sm-1">|</div>
            <div class="col-6 col-sm-5 d-flex justify-content-center align-items-center"><a href="https://www.vratamconsultants.com" title="Goto vratamconsultants website">Web design by Vratam Consultants Pvt. Ltd.</a></div>
        </div>
    </div>
</div>
